body {
  margin: 0;
  font-family: sans-serif;
}

button {
  background-color: #3882f6;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #f9faf8;
  border: 1px solid #3882f6;
  border-radius: 10px;
}

button:hover {
  background-color: #2d75ea;
}

button:active {
  background-color: #1267ef;
}

.main {
  display: flex;
  flex-direction: column;
}

/* header */
.header,
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.header {
  color: #f9faf8;
  height: 50px;
  flex-shrink: 0;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.header a {
  color: currentColor;
  text-decoration: none;
  font-size: 16px;
  color: #e5e7eb;
}

/* end of header section */
/* hero section */

.hero h2 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
}

.left-hero,
.right-hero {
  width: 450px;
  height: 400px;
  display: flex;
}

.left-hero {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.right-hero {
  justify-content: flex-end;
  align-items: center;
}

.right-hero img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

/* end of hero section */
/* second section */

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 40px;
}

.second h2 {
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  color: #1f2937;
}

.second p {
  text-align: center;
  margin: 0;
}

.second .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.second .cards img {
  width: 100%;
  aspect-ratio: 1;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 10px;
}

/* end of second section */
/* third section */

.third {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px 20%;
  gap: 20px;
}

.third p {
  margin: 0;
}

.third .quote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.third .quote-author {
  text-align: end;
  font-size: 20px;
  font-weight: 600;
}

/* end of third section